* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f4f4f4; */
    font-family: Arial, sans-serif;
}

header {
    background-color: #decea1;
    color: #fff;
    padding: 10px 0;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    display: inline-flex;
    /* border: 1px solid #ddd;
    border-radius: 5px; */
}

.project {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #decea1;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.social-icons a:hover {
    opacity: 1;
}

.line {
    display: inline-flex;
    margin: 5px;
    padding: 20px;
}

img {
    border-radius: 50%;
  }
